<div class="w">
    <div class="ch">
        <div class="head">
            <p class='hh'>{{contact}}</p>
        </div>
        <!--<ul id="messages"></ul>-->
        <ul id="messages">
            <li ng-repeat="msg in msgs track by $index" ng-class="{'user': msg.user === username, 'system': msg.user === 'System', 'contact': ((msg.user !== username) && (msg.user !== 'System'))}">
                {{ msg.user + ': ' + msg.message }}
            </li>
        </ul>
        <form class="f" action="">
            <input id="m" autocomplete="off" ng-model="currentMessage.message" />
            <button ng-click="addMessage(currentMessage)">Send</button>
        </form>
    </div>
</div>