* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            font: 13px Helvetica, Arial;
            height: 100%;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border-radius: 10px;
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            border-radius: 10px;
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            height: calc(100% - 96px);
            position: relative;
            top: 50px;
        }

        #messages li {
            padding: 5px 10px;
        }

        

        .user{
            max-width:40%;
            float: right;
            clear :both;
            margin-left: 60%;
            border : 1px solid black;
            border-radius: 10px;
            border-bottom-right-radius: 0px;
            margin-top: 4px;
            background-color: white;
            word-break: break-all;

             
        }

        .contact{
             max-width:40%;
             margin-top: 4px;
             clear :both;
             display : table;
             background-color: #abe5e4;
             border : 1px solid black;
             border-radius: 10px;
             border-bottom-left-radius: 0px;
             word-break: break-all;
        }

        .system {
            width: 30%;
            margin: 4px auto 0;
            text-align: center;
            clear: both;
            background-color: #f3e53d;
            border : 1px solid black;
            border-radius: 10px;
        }

        .f{
            width: 60%;
            
            margin-top: 6px;
        }

        .w {
           width: 100%;
           height: 100%;
           background: url(/css/k1.jpg) no-repeat  ;
           background-attachment:fixed;
           background-size: 100%;
           
           
        }
 
        .ch {
           width: 60%;
           margin-left: 20%;
           height: 100%;
           background-image: url(/css/k.jpg);
        }

        .head {
          border: 1px solid black;
          height: 55px;
          background-color: black;
          position: fixed;
          width: 60%;
          margin-top: -5px;
        }

        .hh{
               color: white;
               text-align: center;
               margin-top: 10px;
               font-size: 28px;
        }